.window {
    border-radius: 25px;
    height: 360px;
    width: 400px;
    text-align: center;
}

input {
    display: block;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #e7dfdd;
    font-size: 18px;
}

.btn {
    border-radius: 25px;
    border: none;
    background-color: #3ec19d;
    padding: 12px 26px;
    font-size: 16px;
    cursor: pointer;
    right: 0%;
}

.btn:hover {background: #eee;}